<h2>This page is not functional, please go to "Find a dog/cat"</h2>

<div class="pet-listing">
    <h3>Bob</h3>
    <img src="../images/puppy-1903313_1280.jpg" width="200" alt="image of a dog">
    <ul>
        <li>Mixed Breed Dog</li>
        <li>Male, 0-3 years old</li>
        <li>Gets along with: dogs, cats</li>
        <li class="fun-fact"><em>Loves to play fetch.</em></li>
    </ul>
    <button>Interested</button>
    <!--image, cat/dog, age, breed, gender, gets along with ,interested button-->
</div>

<div class="pet-listing">
    <h3>Bella</h3>
    <img src="../images/dog-5632005_1280.jpg" width="200" alt="image of a dog">
    <ul>
        <li>Golden Retriever</li>
        <li>Female, 6-9 years old</li>
        <li>Gets along with: kids, dogs, cats</li>
        <li class="fun-fact"><em>Can't go without a walk.</em></li>
    </ul>
    <button>Interested</button>
    <!--image, cat/dog, age, breed, gender, gets along with ,interested button-->
</div>

<div class="pet-listing">
    <h3>Bill</h3>
    <img src="../images/cat-2068462_1280.jpg" width="200" alt="image of a cat">
    <ul>
        <li>Siamese Cat</li>
        <li>Female, 3-6 years old</li>
        <li>Gets along with: cats</li>
        <li class="fun-fact"><em>Always watching for the mail man.</em></li>
    </ul>
    <button>Interested</button>
    <!--image, cat/dog, age, breed, gender, gets along with ,interested button-->
</div>

<div class="pet-listing">
    <h3>Bill</h3>
    <img src="../images/cat-7954713_1280.jpg" width="200" alt="image of a cat">
    <ul>
        <li>Maine Coon Cat</li>
        <li>Male, 9-12 years old</li>
        <li>Gets along with: kids, dogs, cats</li>
        <li class="fun-fact"><em>Always on the hunt.</em></li>
    </ul>
    <button>Interested</button>
</div>