<h1>Contact Us</h1>
<div id="contact-info">
    <h2>Reach out to us if you have any questions about our services</h2>
    <h3>Name: Viresh Patel</h3>
    <h3>ID: 40271750</h3>
    <h3>Email: viresh.p2003@gmail.com</h3>
    <br>
    <h3>Find us at: </h3>
    <p>1455 Blvd. De Maisonneuve Ouest, Montreal, Quebec H3G 1M8</p>
</div>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5593.478050253194!2d-73.58179780531793!3d45.49519985489968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a6a64ea3d09%3A0x1649d951ed37f998!2sConcordia%20SGW%20Campus%2C%20Montreal%2C%20QC!5e0!3m2!1sen!2sca!4v1708025024613!5m2!1sen!2sca"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
</iframe>