<h1>Credits</h1>
<p>All images are free for use under the Pixabay
    <a href="https://pixabay.com/service/license-summary/" target="_blank">Content Licence</a>
</p>
<h3>Website Logo</h3>
<p>
    Image by <a
        href="https://pixabay.com/users/guggenberger_el-2332372/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1517090"
        target="_blank">Elisabeth
        Guggenberger</a>
    from <a
        href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1517090"
        target="_blank">Pixabay</a>
</p>
<h3>Home Page Image</h3>
<p>
    Image by <a
        href="https://pixabay.com/users/vaclavzavada-16241500/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5883275"
        target="_blank">Václav
        Závada</a>
    from <a
        href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5883275"
        target="_blank">Pixabay</a>
</p>
<h3>Cat Care Image</h3>
<p>
    Image by <a
        href="https://pixabay.com/users/daga_roszkowska-7466892/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3059075"
        target="_blank">Daga_Roszkowska</a>
    from <a
        href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3059075"
        target="_blank">Pixabay</a>
</p>
<h3>Dog Care Image</h3>
<p>
    Image by <a
        href="https://pixabay.com/users/lazyboness-28706455/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7330712"
        target="_blank">Lazyboness</a>
    from <a
        href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7330712"
        target="_blank">Pixabay</a>
</p>

<h3>Browse Pets Images</h3>
Image by <a href="https://pixabay.com/users/3194556-3194556/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1903313">3194556</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1903313">Pixabay</a>
<br><br>
Image by <a href="https://pixabay.com/users/andre-h-7066757/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5632005">Andre Hart</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5632005">Pixabay</a>
<br><br>
Image by <a href="https://pixabay.com/users/webandi-1460261/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2068462">Andreas Lischka</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2068462">Pixabay</a>
<br><br>
Image by <a href="https://pixabay.com/users/miezekieze-607096/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7954713">miezekieze</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7954713">Pixabay</a>