<h1>Fill out the form below to help us match you with an ideal pet!</h1>
<form id="find-a-pet-form" onsubmit= "return validateForm()" action="/find-pets" method="POST">
    <label>What type of pet are you looking for?</label>
    <br><br>
    <input type="radio" id="cat" name="pet-type" value="Cat">
    <label for="cat">Cat</label>
    <input type="radio" id="dog" name="pet-type" value="Dog">
    <label for="dog">Dog</label>
    <br><br>
    <label>Preferred Age of Pet:</label>
    <br><br>
    <select name="age-category" id="age-category">
        <option value="Doesn't matter" id="doesnt-matter-age">Doesn't matter</option>
        <option value="0-3" id="0-3-years-old">0-3 years old</option>
        <option value="3-6" id="3-6-years-old">3-6 years old</option>
        <option value="6-9" id="6-9-years-old">6-9 years old</option>
        <option value="9-12" id="9-12-years-old">9-12 years old</option>
        <option value="12" id="12-years-old">12+ years old</option>
    </select>
    <br><br>
    <label>Select your preferred breed(s) of animal: </label>
    <br><br>
    <label>Dogs:</label>
    <br>
    <input type="checkbox" id="german-shepherd" name="dog-breed" value="German Shepherd">
    <label for="german-shepherd">German Shepherd</label>
    <input type="checkbox" id="bulldog" name="dog-breed" value="Bulldog">
    <label for="bulldog">Bulldog</label>
    <input type="checkbox" id="beagle" name="dog-breed" value="Beagle">
    <label for="beagle">Beagle</label>
    <br>
    <input type="checkbox" id="golden-retriever" name="dog-breed" value="Golden Retriever">
    <label for="golden-retriever">Golden Retriever</label>
    <input type="checkbox" id="chihuahua" name="dog-breed" value="Chihuahua">
    <label for="chihuahua">Chihuahua</label>
    <br>
    <input type="checkbox" id="doesnt-matter-dog" name="dog-breed" value="Doesn't Matter">
    <label for="doesnt-matter-dog">Doesn't Matter</label>
    <br><br>
    <label>Cats:</label>
    <br>
    <input type="checkbox" id="persian" name="cat-breed" value="Persian">
    <label for="persian">Persian</label>
    <input type="checkbox" id="maine-coon" name="cat-breed" value="Maine Coon">
    <label for="maine-coon">Maine Coon</label>
    <input type="checkbox" id="siamese" name="cat-breed" value="Siamese">
    <label for="siamese">Siamese</label>
    <br>
    <input type="checkbox" id="ragdoll" name="cat-breed" value="Ragdoll">
    <label for="ragdoll">Ragdoll</label>
    <input type="checkbox" id="british-shorthair" name="cat-breed" value="British Shorthair">
    <label for="british-shorthair">British Shorthair</label>
    <br>
    <input type="checkbox" id="doesnt-matter-cat" name="cat-breed" value="Doesn't Matter">
    <label for="doesnt-matter-cat">Doesn't Matter</label>
    <br><br>
    <label>Preferred gender:</label>
    <br><br>
    <input type="radio" id="male" name="pet-gender" value="Male">
    <label for="male">Male</label>
    <input type="radio" id="female" name="pet-gender" value="Female">
    <label for="female">Female</label>
    <input type="radio" id="doesnt-matter-gender" name="pet-gender" value="Doesn't Matter">
    <label for="doesnt-matter-gender">No Preference</label>
    <br><br>
    <label>Your pet needs to get along with other: </label>
    <br><br>
    <input type="checkbox" id="other-dogs" name="get-along-with" value="Other Dogs">
    <label for="other-dogs">Dogs</label>
    <input type="checkbox" id="other-cats" name="get-along-with" value="Other Cats">
    <label for="other-cats">Cats</label>
    <input type="checkbox" id="other-children" name="get-along-with" value="Small Children">
    <label for="other-children">Small Children</label>
    <p>Thank you for filling out the form! You are one step closer to finding a furry friend.</p>
    <button type="submit">Submit</button>
    <button type="reset">Clear</button>
</form>

<script src="javascript/FindPetValidation.js"></script>