<h1>Welcome to the animal adoption center where you can find your new best friend!</h1>
<img class="images" src="../images/dog-5883275_1280.jpg" alt="Image of a dog and a cat" width="640" height="480">
<h2 id="services">Our Services</h2>
<h3>Browse Pets</h3>
<p>
    Explore our diverse selection of lovable pets waiting for their forever homes. From playful puppies to
    affectionate kittens, find your perfect companion among our adoptable pets.
</p>
<h3>Find a Dog/Cat</h3>
<p>
    Can't find the perfect match? Fill out our form detailing your preferences, and our dedicated team
    will help match you with the ideal pet based on your lifestyle, preferences, and needs.
</p>
<h3>Dog care</h3>
<p>
    Discover tips and advice for the well-being of your cherished canine
    companion. From maintaining an active lifestyle to providing a balanced diet, our comprehensive guidance
    covers crucial aspects of dog care, including grooming routines, veterinary care, training, and creating a
    safe environment. Explore our resources to foster a strong bond and ensure a happy, healthy life for your furry
    friend.
</p>
<h3>Cat Care</h3>
<p>
    Discover essential tips and insights for providing the best care for your feline friend. From litter box
    training to enriching their environment, we offer guidance on nutrition, behavior, health,
    and everything in between to help you be the best cat parent.
</p>
<h3>Give away a Pet</h3>
<p>
    Are you unable to care for your pet anymore? We offer a compassionate solution for owners
    facing difficult circumstances. Ensure your pet finds a loving home by entrusting them to our care.
</p>